version: '3'

networks:
  web:
    external:
      name: web

services:
  ddns:
    image: davd/docker-ddns:latest
    restart: unless-stopped
    environment:
      RECORD_TTL: 60
      ZONE: ddns.banditlair.com
      SHARED_SECRET: changeme
    labels:
      - "traefik.backend=ddns"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:ns.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8080"
      - "traefik.default.protocol=http"
    expose:
      - 8080
    ports:
      - "53:53"
      - "53:53/udp"
    networks:
      - web
    volumes:
      - /var/lib/ddns/bind:/var/cache/bind