version: '2.2'

networks:
  web:
    external:
      name: web

services:
  transmission:
    image: haugene/transmission-openvpn:latest-alpine
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    volumes:
      - /var/lib/transmission:/data
      - ./config/transmission:/config
      - /data:/media
      - /etc/localtime:/etc/localtime:ro
    expose:
      - 9091
    environment:
      - OPENVPN_PROVIDER=NORDVPN
      - NORDVPN_COUNTRY=DE
      - NORDVPN_CATEGORY=legacy_p2p
      - NORDVPN_PROTOCOL=udp
      - OPENVPN_USERNAME=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASS}
      - WEBPROXY_ENABLED=false
      - LOCAL_NETWORK=172.19.0.0/16
      - PUID=33
      - PGID=33
      - TRANSMISSION_RPC_USERNAME=admin
      - TRANSMISSION_RPC_PASSWORD=${TRANSMISSION_RPC_PASSWORD}
    dns:
      - 208.67.222.222
      - 208.67.220.220
    labels:
      - "traefik.backend=transmission"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:transmission.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=9091"
      - "traefik.default.protocol=http"
      - "traefik.frontend.auth.basic=admin:${TRANSMISSION_BASIC_PASSWORD_HASH}"
    restart: always
    networks:
      - web

  sonarr:
    image: linuxserver/sonarr
    expose:
      - 8989
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=sonarr"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:sonarr.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8989"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/transmission/completed:/downloads
      - /var/lib/nzbget/downloads:/nzbget
      - ./config/sonarr:/config
      - /data/TV:/tv
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  radarr:
    image: linuxserver/radarr
    expose:
      - 7878
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=radarr"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:radarr.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=7878"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/transmission/completed:/downloads
      - /var/lib/nzbget/downloads:/nzbget
      - ./config/radarr:/config
      - /data/Movies:/movies
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  headphones:
    image: linuxserver/headphones
    expose:
      - 8181
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=headphones"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:headphones.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8181"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/transmission:/data
      - ./config/headphones:/config
      - /data/Music:/music
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  nzbget:
    image: linuxserver/nzbget
    expose:
      - 6789
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=nzbget"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:nzbget.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=6789"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/nzbget/downloads:/downloads
      - ./config/nzbget:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  jackett:
    image: linuxserver/jackett
    expose:
      - 9117
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=jackett"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:jackett.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=9117"
      - "traefik.default.protocol=http"
    volumes:
      - ./config/jackett:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web
