version: '2.2'

networks:
  web:
    external:
      name: web

services:
  deluge:
    image: binhex/arch-delugevpn
    cap_add:
      - NET_ADMIN
    ports:
      - 8118:8118
      - 58846:58846
    volumes:
      - /var/lib/deluge:/data
      - ./config/deluge:/config
      - /media:/media
      - /etc/localtime:/etc/localtime:ro
    environment:
      - VPN_ENABLED=yes
      - VPN_USER=${VPN_USER}
      - VPN_PASS=${VPN_PASS}
      - VPN_REMOTE=${VPN_REMOTE}
      - VPN_PORT=${VPN_PORT}
      - VPN_PROTOCOL=${VPN_PROTOCOL}
      - VPN_PROV=${VPN_PROV}
      - ENABLE_PRIVOXY=yes
      - LAN_NETWORK=10.90.86.0/26
      - DEBUG=false
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=deluge"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:deluge.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8112"
      - "traefik.default.protocol=http"
    restart: always
    networks:
      - web

  sonarr:
    image: linuxserver/sonarr
    expose:
      - 8989
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=sonarr"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:sonarr.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8989"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/deluge/completed:/downloads
      - /var/lib/nzbget/downloads:/nzbget
      - ./config/sonarr:/config
      - /media/TV:/tv
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  radarr:
    image: linuxserver/radarr
    expose:
      - 7878
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=radarr"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:radarr.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=7878"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/deluge/completed:/downloads
      - /var/lib/nzbget/downloads:/nzbget
      - ./config/radarr:/config
      - /media/Movies:/movies
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  headphones:
    image: linuxserver/headphones
    expose:
      - 8181
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=headphones"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:headphones.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8181"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/deluge/completed:/downloads
      - ./config/headphones:/config
      - /media/Music:/music
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  nzbget:
    image: linuxserver/nzbget
    expose:
      - 6789
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=nzbget"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:nzbget.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=6789"
      - "traefik.default.protocol=http"
    volumes:
      - /var/lib/nzbget/downloads:/downloads
      - ./config/nzbget:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web

  jackett:
    image: linuxserver/jackett
    expose:
      - 9117
    environment:
      - PUID=33
      - PGID=33
    labels:
      - "traefik.backend=jackett"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:jackett.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=9117"
      - "traefik.default.protocol=http"
    volumes:
#      - /var/lib/deluge/completed:/downloads
      - ./config/jackett:/config
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - web
