{
  "CN": "system:node:{{hostvars[workerHost]['ansible_hostname']}}",
  "key": {
    "algo": "{{k8s_csr.worker.key_algo}}",
    "size": {{k8s_csr.worker.key_size}}
  },
  "names": [
    {
      "C": "{{k8s_csr.worker.names_c}}",
      "L": "{{k8s_csr.worker.names_l}}",
      "O": "{{k8s_csr.worker.names_o}}",
      "OU": "{{k8s_csr.worker.names_ou}}",
      "ST": "{{k8s_csr.worker.names_st}}"
    }
  ]
}
