{
  "CN": "{{item.cn}}",
  "key": {
    "algo": "{{item.key_algo}}",
    "size": {{item.key_size}}
  },
  "names": [
    {
      "C": "{{item.names_c}}",
      "L": "{{item.names_l}}",
      "O": "{{item.names_o}}",
      "OU": "{{item.names_ou}}",
      "ST": "{{item.names_st}}"
    }
  ]
}
