---
- name: Kubernetes manifests | Lay down letsencrypt templates
  template:
    src: "{{ item }}.j2"
    dest: "{{ kube_config_dir }}/{{ item }}"
  loop:
    - letsencrypt-production-issuer.yml
    - letsencrypt-staging-issuer.yml
  register: manifests
  when: inventory_hostname == groups['kube-master'][0]

- name: Kubernetes manifests  | Start letsencrypt issuers
  kube:
    kubectl: "{{ bin_dir }}/kubectl"
    filename: "{{ kube_config_dir }}/{{ item.item }}"
    state: latest
  loop: "{{ manifests.results }}"
  when: inventory_hostname == groups['kube-master'][0]

- name: Kubernetes manifests | Lay down searx templates
  template:
    src: "{{ item }}.j2"
    dest: "{{ kube_config_dir }}/{{ item }}"
  loop:
    - searx-deployment.yml
    - searx-svc.yml
    - searx-ingress.yml
  register: manifests
  when: inventory_hostname == groups['kube-master'][0]

- name: Kubernetes manifests | Start searx
  kube:
    kubectl: "{{ bin_dir }}/kubectl"
    filename: "{{ kube_config_dir }}/{{ item.item }}"
    state: latest
  loop: "{{ manifests.results }}"
  when: inventory_hostname == groups['kube-master'][0]
