- name: Install pip
  package:
    name: 
      - python3-pip
      - python3-setuptools
    state: present

- name: Install python dependencies
  pip:
    name: 
      - openshift
      # - pyhelm
      # - grpcio
    state: present
