- name: Searx deployment
  k8s:
    namespace: default
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: searx
      spec:
        replicas: 2
        selector:
          matchLabels:
            app: searx
        template:
          metadata:
            labels:
              app: searx
          spec:
            containers:
              - name: searx
                image: wonderfall/searx:latest
                imagePullPolicy: IfNotPresent
                ports:
                  - containerPort: 8888
                livenessProbe:
                  httpGet:
                    path: /
                    port: 8888
                readinessProbe:
                  httpGet:
                    path: /
                    port: 8888

- name: Searx service
  k8s:
    namespace: default
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: searx
      spec:
        type: ClusterIP
        ports:
          - port: 80
            targetPort: 8888
        selector:
          app: searx

- name: Searx ingress
  k8s:
    namespace: default
    state: present
    definition:
      apiVersion: extensions/v1beta1
      kind: Ingress
      metadata:
        name: searx
      spec:
        rules:
        - host: searx.k8s.banditlair.com
          http:
            paths:
            - path: /
              backend:
                serviceName: searx
                servicePort: 80
