---
- hosts: all
  become: true
  gather_facts: no
  vars:
    docker_compose_files_folder: /etc/images
    domain_name: banditlair.com
    sub_domains:
      - rpg
  roles:
    - role: murmur-docker
    - role: searx-docker