---
- hosts: storage
  become: true
  vars:
    docker_compose_files_folder_previous_server: /etc/compose
    docker_compose_files_folder: /etc/compose
    domain_name: banditlair.com
    sub_domains:
      - rpg
  roles:
    - role: base
      tags: ['base']
    - role: scripts
      tags: [ 'scripts' ]
    - role: daily-backup
      tags: [ 'backup' ]
    - role: docker
      tags: [ 'docker' ]
    - role: traefik-proxy-docker
      tags: [ 'traefik' ]
    - role: murmur-docker
      tags: [ 'murmur' ]
    - role: searx-docker
      tags: [ 'searx' ]
    - role: wiki-docker
      tags: [ 'wiki' ]
    - role: emby-docker
      tags: [ 'emby' ]
    - role: gitlab-docker
      tags: [ 'gitlab' ]
    - role: nextcloud-docker
      tags: [ 'nextcloud' ]
    - role: matrix-docker
      tags: [ 'matrix' ]
    - role: torrent-docker
      tags: [ 'torrent' ]
    - role: monit
      tags: [ 'monit' ]
    - role: stb-wordpress-docker
      tags: [ 'stb' ]
    - role: invidious-docker
      tags: [ 'invidious' ]
    - role: ddns-docker
      tags: [ 'ddns' ]
    - role: mailu-docker
      tags: [ 'mailu' ]
