---
- hosts: all
  become: true
  vars:
    docker_compose_files_folder_previous_server: /etc/images
    docker_compose_files_folder: /etc/compose
    domain_name: banditlair.com
    docker_version: 18.06.*
    sub_domains:
      - rpg
  roles:
    - { role: base, tags: ['base'] }
    - { role: scripts, tags: [ 'scripts' ] }
    - { role: daily-backup, tags: [ 'backup' ] }
    - { role: docker, tags: [ 'docker' ] }
    - { role: murmur-docker, tags: [ 'murmur', 'docker' ] }
    - { role: searx-docker, tags: [ 'searx', 'docker' ] }
    - { role: wiki-docker, tags: [ 'wiki', 'docker' ] }
    - { role: emby-docker, tags: [ 'emby', 'docker' ] }
    - { role: gitlab-docker, tags: [ 'gitlab', 'docker' ] }
    - { role: mailu-docker, tags: [ 'mailu', 'docker' ] }
    - { role: nextcloud-docker, tags: [ 'nextcloud', 'docker' ] }
    - { role: matrix-docker, tags: [ 'matrix', 'docker' ] }
    - { role: torrent-docker, tags: [ 'torrent', 'docker' ] }
    - { role: monit, tags: [ 'monit' ] }
    - { role: stb-wordpress-docker, tags: [ 'stb', 'docker' ] }
    - { role: invidious-docker, tags: [ 'invidious', 'docker' ] }
    - { role: traefik-proxy-docker, tags: [ 'traefik', 'docker' ] }
    - { role: ddns-docker, tags: [ 'ddns', 'docker' ] }

