---
- hosts: all
  become: true
  gather_facts: no
  vars:
    docker_compose_files_folder: /etc/images
    domain_name: banditlair.com
    sub_domains:
      - rpg
  roles:
    - role: murmur-docker
    - role: searx-docker
    - role: wiki-docker
    - role: emby-docker
    - role: gitlab-docker
    - role: mailu-docker
    - role: nextcloud-docker
  vars_prompt:
    - name: "ansible_sudo_pass"
      prompt: "Sudo password"
      private: yes
  vars_files:
    - "passwords.yml"