---
- hosts: all
  become: true
  gather_facts: no
  vars:
    docker_compose_files_folder: /etc/images
    domain_name: banditlair.com
    sub_domains:
      - rpg
  roles:
    - { role: scripts, tags: [ 'scripts' ] }
    - { role: daily-backup, tags: [ 'backup' ] }
    - { role: murmur-docker, tags: [ 'murmur', 'docker' ] }
    - { role: searx-docker, tags: [ 'searx', 'docker' ] }
    - { role: wiki-docker, tags: [ 'wiki', 'docker' ] }
    - { role: emby-docker, tags: [ 'emby', 'docker' ] }
    - { role: gitlab-docker, tags: [ 'gitlab', 'docker' ] }
    - { role: mailu-docker, tags: [ 'mailu', 'docker' ] }
    - { role: nextcloud-docker, tags: [ 'nextcloud', 'docker' ] }
    - { role: matrix-docker, tags: [ 'matrix', 'docker' ] }
    - { role: plex-docker, tags: [ 'plex', 'docker' ] }
    - { role: deluge-docker, tags: [ 'deluge', 'docker' ] }
    - { role: monit, tags: [ 'monit' ] }
    - { role: arch-mirror-docker, tags: [ 'mirror', 'docker' ] }
#  vars_prompt:
#    - name: "ansible_sudo_pass"
#      prompt: "Sudo password"
#      private: yes
  vars_files:
    - "passwords.yml"
