---
- hosts: all
  become: true
  gather_facts: no
  vars:
    docker_compose_files_folder: /etc/images
    domain_name: banditlair.com
    sub_domains:
      - rpg
  roles:
    - role: scripts
    - role: daily-backup
    - role: murmur-docker
    - role: searx-docker
    - role: wiki-docker
    - role: emby-docker
    - role: gitlab-docker
    - { role: mailu-docker, tags: [ 'mailu', 'docker' ] }
    - { role: nextcloud-docker, tags: [ 'nextcloud', 'docker' ] }
    - role: matrix-docker
    - role: plex-docker
    - role: deluge-docker
    - role: monit
#  vars_prompt:
#    - name: "ansible_sudo_pass"
#      prompt: "Sudo password"
#      private: yes
  vars_files:
    - "passwords.yml"
