version: '2.2'

networks:
  proxy-tier:
    external:
      name: nginx-proxy

services:
  arch-mirror:
    image: nginx:latest
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=arch.banditlair.com
      - VIRTUAL_NETWORK=nginx-proxy
      - VIRTUAL_PORT=80
    volumes:
      - /srv/repo:/usr/share/nginx/html:ro
    networks:
      - proxy-tier
    restart: always
