version: '2.2'

networks:
  web:
    external:
      name: web

services:
  arch-mirror:
    image: nginx:latest
    expose:
      - 80
    labels:
      - "traefik.backend=arch-mirror"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:arch.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.default.protocol=http"
    volumes:
      - /srv/repo:/usr/share/nginx/html:ro
    networks:
      - web
    restart: always
