---
- name: Provision master nodes
  scaleway_compute:
    name: k8s-{{ k8s_scw_environment_short }}-master{{ item }}
    state: running
    image: ca9a9340-92e8-4c5f-8ae1-423466f7ef30
    organization: 4dcd777e-6ace-48ad-9f36-0b090880dcdb
    oauth_token: "{{ scw_token }}"
    region: ams1
    commercial_type: VC1S
    wait: true
    tags:
      - k8s_master
      - k8s_etcd
      - "{{ k8s_scw_environment }}"
  loop: "{{ range(1,k8s_scw_master_nodes_count+1)|list }}"

- name: Provision worker nodes
  scaleway_compute:
    name: k8s-{{ k8s_scw_environment_short }}-worker{{ item }}
    state: running
    image: ca9a9340-92e8-4c5f-8ae1-423466f7ef30
    organization: 4dcd777e-6ace-48ad-9f36-0b090880dcdb
    oauth_token: "{{ scw_token }}"
    region: ams1
    commercial_type: VC1S
    wait: true
    tags:
      - k8s_worker
      - "{{ k8s_scw_environment }}"
  loop: "{{ range(1,k8s_scw_worker_nodes_count+1)|list }}"
