---
- name: Adding authorized SSH keys
  scaleway_sshkey:
    ssh_pub_key: "{{ item }}"
    oauth_token: "{{ scw_token }}"
    state: present
  loop: "{{ scw_authorized_keys|flatten(levels=1) }}"

- name: Provision master nodes
  scaleway_compute:
    name: k8s-{{ k8s_scw_environment_short }}-master{{ item }}
    state: running
    image: ca9a9340-92e8-4c5f-8ae1-423466f7ef30
    organization: 4dcd777e-6ace-48ad-9f36-0b090880dcdb
    oauth_token: "{{ scw_token }}"
    region: ams1
    commercial_type: VC1S
    wait: true
    tags:
      - group:k8s
      - group:k8s_master
      - group:k8s_etcd
      - env:{{ k8s_scw_environment }}
  loop: "{{ range(1,k8s_scw_master_nodes_count+1)|list }}"

- name: Provision worker nodes
  scaleway_compute:
    name: k8s-{{ k8s_scw_environment_short }}-worker{{ item }}
    state: running
    image: ca9a9340-92e8-4c5f-8ae1-423466f7ef30
    organization: 4dcd777e-6ace-48ad-9f36-0b090880dcdb
    oauth_token: "{{ scw_token }}"
    region: ams1
    commercial_type: VC1S
    wait: true
    tags:
      - group:k8s
      - group:k8s_worker
      - env:{{ k8s_scw_environment }}
  loop: "{{ range(1,k8s_scw_worker_nodes_count+1)|list }}"

- name: Refresh inventory
  meta: refresh_inventory

- name: Add the instances to known hosts
  local_action: command sh -c 'ssh-keyscan -t rsa {{ hostvars[item].ansible_host }} >> $HOME/.ssh/known_hosts'
  with_items: "{{ groups['k8s'] }}"

