---
- name: traefik-ingress-controller | Getting node labels
  command: "kubectl get nodes -l role=ingress-controller"
  register: nodes
  changed_when: no
  when: inventory_hostname == initial_master

- name: traefik-ingress-controller | Printing nodes
  debug: var=nodes
  when: inventory_hostname == initial_master

- name: traefik-ingress-controller  | Labelling proxy nodes with role=ingress-controller
  command: "kubectl label node {{ hostvars[item].ansible_hostname }} role=ingress-controller"
  with_items:
    - "{{ groups['k8s_proxy'] }}"
  when:
    - inventory_hostname == initial_master
    - hostvars[item].ansible_hostname not in nodes.stdout

- name: traefik-ingress-controller | Templating manifests
  template:
    src: "{{ item }}"
    dest: "/tmp/{{ item | regex_replace('.j2', '') }}"
  with_items:
    - default-backend-controller.yml.j2
    - default-backend-service.yml.j2
    - traefik-ingress-clusterolebinding.yml.j2
    - traefik-ingress-configmap.yml.j2
    - traefik-ingress-sa.yml.j2
    - traefik-ingress-clusterole.yml.j2
    - traefik-ingress-ds.yml.j2
    - traefik-ingress-service.yml.j2
  when: inventory_hostname == initial_master

- name: traefik-ingress-controller | Deploy the nginx_ingress_controller
  kube:
    filename: "{{ item }}"
    state: latest
  with_items:
    - '/tmp/default-backend-controller.yml'
    - '/tmp/default-backend-service.yml'
    - '/tmp/traefik-ingress-clusterolebinding.yml'
    - '/tmp/traefik-ingress-configmap.yml'
    - '/tmp/traefik-ingress-clusterole.yml'
    - '/tmp/traefik-ingress-sa.yml'
    - '/tmp/traefik-ingress-ds.yml'
    - '/tmp/traefik-ingress-service.yml'
  when: inventory_hostname == initial_master

- name: traefik-ingress-controller | Creating directory for scaleway-ipmove
  file:
    path: /usr/local/bin/scaleway-ipmove
    state: directory
  when: "'k8s_proxy' in group_names"

- name: traefik-ingress-controller | Getting scaleway-ipmove.py
  git:
    repo: https://github.com/chmod666org/scaleway-ipmove
    dest: /usr/local/bin/scaleway-ipmove
    force: yes
  when: "'k8s_proxy' in group_names"

- name: traefik-ingress-controller | notify.sh
  template:
    src: notify.sh.j2
    dest: /usr/local/bin/scaleway-ipmove/notify.sh
    mode: 0500
    owner: root
    group: root
  when: "'k8s_proxy' in group_names"

# this runs keepalived on proxy nodes
- name: traefik-ingress-controller | Templating keepalived on proxy node
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - { 'src': 'keepalived.yml.j2', 'dest': '/etc/kubernetes/manifests/keepalived.yml' }
  when:
    - "'k8s_proxy' in group_names"
    - groups.k8s_proxy|length > 1
