kind: ConfigMap
apiVersion: v1
metadata:
  name: traefik-config
  namespace: kube-system
  labels:
    app: traefik-ingress-controller
data:
  traefik.toml: |-
    checkNewVersion = false
    IdleTimeout = "180s"
    MaxIdleConnsPerHost = 500
    logLevel = "INFO"
    defaultEntryPoints = ["http", "https"]

    [retry]
    attempts = 3

    [kubernetes]

    [web]
    address = ":8081"

    [acme]
    email = "letsencrypt.account@banditlair.com"
    storage = "traefik/acme/account"
    entryPoint = "https"
    OnHostRule = true
    onDemand = true
    acmeLogging = true
    # TODO Remove this line when going to prod
    caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"

    [[acme.domains]]
       main = "{{ scaleway_reverse_ipaddr }}"

    [entryPoints]
      [entryPoints.http]
      address = ":80"
      compress = true
        [entryPoints.http.redirect]
        entryPoint = "https"
      [entryPoints.https]
      address = ":443"
        [entryPoints.https.tls]