apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: kube-system
  name: kubernetes-dashboard
  annotations:
    kubernetes.io/ingress.class: traefik
    {% if dashboard_basic_auth_user | length > 0 %}
traefik.ingress.kubernetes.io/auth-type: basic
    traefik.ingress.kubernetes.io/auth-secret: dashboard-basic-auth
    {% endif %}

spec:
  # this enables tls for the specified domain names
#  tls:
#  - hosts:
#    - {{ dashboard_subdomain }}.{{ scaleway_reverse_ipaddr }}
#    secretName: dashboard-tls
  rules:
  - host: {{ dashboard_subdomain }}.{{ scaleway_reverse_ipaddr }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
