apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: kube-system
  name: kubernetes-dashboard
  annotations:
    # enable kube-lego for this ingress
    kubernetes.io/tls-acme: "true"
    {% if basic_auth_user | length > 0 %}
ingress.kubernetes.io/auth-type: basic
    # name of the secret that contains the user/password definitions
    ingress.kubernetes.io/auth-secret: dashboard-basic-auth
    # message to display with an appropiate context why the authentication is required
    ingress.kubernetes.io/auth-realm: "Authentication is required to access the k8s dashboard "
    {% endif %}

spec:
  # this enables tls for the specified domain names
  tls:
  - hosts:
    - {{ dashboard_subdomain }}.{{ scaleway_reverse_ipaddr }}
    secretName: dashboard-tls
  rules:
  - host: {{ dashboard_subdomain }}.{{ scaleway_reverse_ipaddr }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 80
