apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
api:
  advertiseAddress: {{ api_floating_ip if groups.k8s_masters | length > 1 else hostvars[initial_master].vpn_ip }}
etcd:
  external:
    endpoints:
{% for host in groups['k8s_masters'] %}
    - "http://{{ hostvars[host]['vpn_ip'] }}:2379"
{% endfor %}
networking:
  podSubnet: "{{ pod_subnet }}"
kubernetesVersion: "{{ kubernetes_version }}"
apiServerCertSANs:
{% for host in groups['k8s_masters'] %}
- "{{ hostvars[host]['vpn_ip'] }}"
{% endfor %}
- "{{ api_floating_ip }}"
- "127.0.0.1"
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: "{{ hostvars[initial_master].kubeadm_token }}"
  ttl: 0s
  usages:
  - signing
  - authentication