version: "2"
services:
  db:
    image: postgres:9
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - /var/lib/matrix/db:/var/lib/postgresql/data
      - /backups/matrix:/backups
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_PASSWORD=synapse
      - POSTGRES_USER=synapse
    networks:
      - matrix

  synapse:
    image: matrixdotorg/synapse
#    ports:
      # Coturn
#      - "3478:3478"
#      - "5349:5349"
    labels:
      - "traefik.enable=true"
      - "traefik.default.protocol=http"
      - "traefik.docker.network=web"
      - "traefik.port=8008"
      - "traefik.backend=synapse"
      - "traefik.frontend.rule=Host:banditlair.com,matrix.banditlair.com"
      - "traefik.frontend.passHostHeader=true"
    volumes:
      - /var/lib/matrix/media_store:/data/media_store
      - /var/log/synapse:/data/log
      - ./synapse:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
    networks:
      - matrix
      - web
    restart: always

  coturn:
    image: instrumentisto/coturn
    network_mode: host
    volumes:
      - ./synapse:/data
      - ./synapse/turnserver.conf:/etc/coturn/turnserver.conf
    tmpfs:
      - /var/lib/coturn

  dimension:
    image: turt2live/matrix-dimension
    labels:
      - "traefik.docker.network=web"
      - "traefik.backend=dimension"
      - "traefik.frontend.rule=Host:dimension.banditlair.com"
      - "traefik.enable=true"
      - "traefik.port=8184"
      - "traefik.default.protocol=http"
    expose:
      - 8184
    volumes:
      - ./dimension:/data
    networks:
      - web
    restart: always

networks:
  matrix:
    external:
      name: matrix-network
  web:
    external:
      name: web
