version: '2.2'

networks:
  proxy-tier:
    external:
      name: nginx-proxy

services:
  searx:
    image: wonderfall/searx
    environment:
      - BASE_URL="https://banditlair.com"
      - IMAGE_PROXY=True
      - VIRTUAL_HOST=banditlair.com
      - VIRTUAL_NETWORK=nginx-proxy
      - VIRTUAL_PORT=8888
      - LETSENCRYPT_HOST=banditlair.com,mail.banditlair.com,mailu.banditlair.com,webmail.banditlair.com,gitlab.banditlair.com,cloud.banditlair.com,plex.banditlair.com,deluge.banditlair.com,rpg.banditlair.com,matrix.banditlair.com,emby.banditlair.com,arch.banditlair.com,sonarr.banditlair.com,radarr.banditlair.com,headphones.banditlair.com,jackett.banditlair.com,nzbget.banditlair.com
      - LETSENCRYPT_EMAIL=letsencrypt.account@banditlair.com
    networks:
      - proxy-tier
    restart: always
